.products-page{
    display: grid;
    grid-template-columns: 20% 80%;
}
.products{
    display: flex;
    flex-wrap: wrap;
}
.product{
    width: 200px ;
    height: 350px;
    border: 2px solid black;
    margin: 5px;
    padding: 1rem;
}